.params > * {
    padding: 0 0 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .short {
        border: dashed 1px;
        padding: 5px;
        // width: 35%;
    }
}