.myButton {
	-webkit-border-radius: 22;
	-moz-border-radius: 22;
	border-radius: 22px;
	// background:linear-gradient(to bottom, #282c34 5%, #282c34 100%);
	font-family: Arial;
	color: #ffffff;
	font-size: 15px;
	background: #282c34;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		background: #cdcfd1;
		text-decoration: none;

	}
	&:active {
		position:relative;
		top:1px;

	}
}
