.tz-body {
    font-family: var(--main_font);
    .app {
        color: var(--white);
        background-color: var(--bg_color);
        font-size: calc(8px + 2vmin);
        min-width: 300px;
        .app-header {
            background-color: green;
            box-sizing: border-box;
            width: 100%;
            height: 15%;
        }
        .app-body {
            padding: 10px;
        }
        .app-footer {
            background-color: green;
            box-sizing: border-box;
            width: 100%;
            height: 15%;
        }
    }
}


.app-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite 20s linear;
    }
}

@keyframes app-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.params > * {
    padding: 0 0 2% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.short {
    border: dashed 1px;
    padding: 5px;
    width: 35%;
}

.tz-normal-text {
    font-family: var(--main_font);
}

.tz-title {
    font-family: var(--title_font);
}

.tz-small-text {
    font-family: var(--tiny_font);
}

.tz-result-text {
    font-family: var(--result_font);
    background: var(--white) !important;
    color: var(--black) !important;

    &::-webkit-scrollbar {
        background-color: #f1f1f1 !important;
    }
    &::-webkit-scrollbar-thumb {
        background: #c1c1c1 !important;
    }
}
